/*Variables*/
$fotoHome:  url("../imagen/madera.jpg");

/*Extend*/
.textos{
	background-color: rgba(255, 235, 205, 0);
	    height: 50px;
		width: 100%;
		text-align: start;
		color: rgb(194, 241, 245);
		font-size: 20px;
	
}

/*Mixin*/

@mixin titulos($color, $tamLetra,) {
			color: $color;
            font-size: $tamLetra;
          	font-family: Dancing Script;
	
}



*{ margin: 0;
    padding: 0;
   }
   

   header {
	background-color: black;
	width: 100%;
	height: 420px;
    .banner {
        width: 100%;
        height: 100%;
    }
}


   /*NAVEGADOR*/
   
   .nav-link {
       
	&:hover {
		font-size: 1.25rem;
		
	}
}
main {
	background-image: $fotoHome;
	width: 100%;
	height: 1200px;
	background-size: auto;
    .mainHome {
        display: grid;
        padding: 20px;
        grid-template-columns: 30% 60%;
        grid-template-rows: 100px 900px;
        grid-template-areas: "parr tit" "parr video" "parr video";
        justify-content: space-around;
        .mainDivTit {
            grid-area: tit;
            display: flex;
            justify-content: center;
			@include titulos(rgb(132, 218, 203), 150px);
            
        }
        .mainDiv1 {
            grid-area: parr;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .fotoDiv1 {
                height: 60%;
                width: 100%;
                padding: 25px;
            }
        }
        .mainDiv2 {
            grid-area: video;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .video2 {
                height: 65%;
                width: 100%;
            }
        }
    }
	
}
.main.Par{
		height: 150px;
		width: 100%;
    	
}
.parf {
		@extend.textos;
}





.form-control {
    background-color: rgb(59, 54, 59);
}
.mb-3 {
	padding: 10px;
    @include titulos(rgb(132, 218, 203), 30px);
}    

.but {
	width: 100%;
	height: 100px;
	display: flex;
	align-content: center;
	justify-content: space-evenly;
}
.btn-secondary {
	height: 65px;
	width: 90px;
	background-color: rgb(59, 54, 59);
}

footer {
	background-color: black;
	width: 100%;
	height: 200px;
}
.grilla {
	display: grid;
	width: 100%;
	height: 70px;
	grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
	grid-template-rows: 100%;
    .imgGrid {
        height: 100%;
        width: 100%;
        background-size: cover;
    }
}

.tituloRedes {
	color: blanchedalmond;
	font-size: 20px;
	text-align: center;
	margin-top: 40px;
	font-family: Arial, Helvetica, sans-serif;
}
.iconos {
	width: 60px;
	height: 60px;
	&:hover {
		width: 70px;
		height: 70px;
	}
}

   
   /*GALERIA*/
   
   .container {
	height: 100%;
	align-items: center;
	justify-content: center;
	display: flex;
    .imgGaleria {
        &:hover {
            height: 120%;
            width: 120%;
        }
        height: 100%;
        width: 100%;
        transition: 1s width, 1s height;
    }
}


   
   /*FIN GALERIA*/
   
   /*HTML CLIPS*/
   .grillaClips {
	display: grid;
	height: 780px;
	width: 100%;
	grid-template-columns: 40% 40%;
	grid-template-rows: 300px 300px;
	grid-template-areas: "video video1" "video2 video3";
	justify-content: space-around;
	align-content: space-around;
}
.videoPresentacion {
	height: 400px;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.clip {
	height: 380px;
	width: 600px;
}
.clips {
	height: 100%;
	width: 100%;
}

   
   /*FIN CLIPS*/
   
   /*MUSICA*/

.tracks {
	height: 70%;
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
}
h3 {
	@include titulos( rgba(160, 11, 11, 0.726), 50px);
}
.grid {
	display: grid;
	height: 40%;
	width: 100%;
	grid-template-columns: 30% 30% 30%;
	grid-template-rows: 100%;
	justify-items: center;
	justify-content: center;
	color: blanchedalmond;
    .card {
        background-color: rgba(36, 29, 29, 0);
    }
    
}

   
   /*FIN INDEX*/
   
   /*MEDIA QUERIES*/
   @media only screen and (max-width: 600px) {
	
	 
	
	
    header {
		background-color: black;
		width: 100%;
		height: 200px;
        .banner {
            width: 100%;
            height: 100%;
        }
	}
	
	
	main {
		height: 900px;
		
        .mainHome {
            display: grid;
            padding: 0px;
            grid-template-columns: 95%;
            grid-template-rows: 60px 350px 350px;
            grid-template-areas: "tit" "video" "parr";
            justify-content: space-around;
            .mainDivTit {
                grid-area: tit;
                display: flex;
                justify-content: center;
                padding: 10px;
               @include titulos(rgb(132, 218, 203), 60px);
            }
            .mainDiv1 {
                grid-area: parr;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                .fotoDiv1 {
                    height: 90%;
                    width: 65%;
                }
            }
            .mainDiv2 {
                grid-area: video;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                .video2 {
                    height: 80%;
                    width: 100%;
                }
            }
			
			
		
        }
		
	}
	.main.Par {
		height: 150px;
		width: 100%;
		
	}
	.parf {
		
		
		font-size: 15px;
	}
	
	
	.cuadro {
		height: 90%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.form {
		margin-top: 40px;
		height: 60%;
		width: 80%;
		font-size: 12px;
		text-align: center;
		resize: none;
	}
	.botonForm {
		height: 35px;
		width: 90px;
	}
	footer {
		background-color: black;
		width: 100%;
		height: 150px;
	}
	.grilla {
		display: grid;
		width: 100%;
		height: 50px;
		grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
		grid-template-rows: 100%;
        .imgGrid {
            height: 100%;
            width: 100%;
            background-size: cover;
        }
	}
	
	.tituloRedes {
		color: blanchedalmond;
		font-size: 15px;
		text-align: center;
		margin-top: 25px;
		font-family: Arial, Helvetica, sans-serif;
	}
	.iconos {
		width: 40px;
		height: 40px;
		&:hover {
			width: 40px;
			height: 40px;
		}
	}
	.grillaGaleria {
		width: 100%;
		height: 70%;
		display: flex;
		justify-content: center;
		align-items: center;
        .imgGaleria {
            &:hover {
                height: 90%;
                width: 55%;
            }
            height: 90%;
            width: 55%;
        }
	}
	
	.videoPresentacion {
		height: 140px;
		width: 100%;
		display: flex;
		justify-content: center;
        .clip {
            height: 130px;
            width: 80%;
        }
	}
	
	.grillaClips {
		margin-top: 20px;
		display: grid;
		height: 750px;
		width: 100%;
		grid-template-columns: 95%;
		grid-template-rows: 190px 190px 190px 190px;
		grid-template-areas: "video" "video1" "video2" "video3";
		justify-items: center;
        .clips {
            height: 85%;
            width: 85%;
        }
	}
	
}
@media only screen and (min-width: 600px) and (max-width:992px) {
	.texto{
		background-color: rgba(255, 235, 205, 0);
			height: 50px;
			width: 100%;
			text-align: start;
			color: rgb(194, 241, 245);
			font-size: 20px;
		
	}
	
	
	header {
		background-color: black;
		width: 100%;
		height: 300px;
	}
	.banner {
		width: 100%;
		height: 100%;
	}
	.navegador {
		background-color: black;
		width: 100%;
		height: 100px;
		position: sticky;
		top: 0px;
	}
	.listas {
		display: flex;
		list-style-type: none;
		height: 100%;
		justify-content: space-evenly;
		align-items: center;
	}
	.page {
		color: white;
		font-size: 50px;
		text-decoration: none;
		font-family: Estonia;
		&:hover {
			font-size: 50px;
		}
	}
	main {
		height: 700px;
		background-size: cover;
		.mainHome {
			display: grid;
			padding: 0px;
			grid-template-columns: 45% 35%;
			grid-template-rows: 45% 50%;
			grid-template-areas: "parr tit" "parr video";
			justify-content: space-around;
			.mainDivTit {
				grid-area: tit;
				display: flex;
				justify-content: center;
				padding: 10px;
				@include titulos(rgb(132, 218, 203), 70px);
			}
			.mainDiv1 {
				grid-area: parr;
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				.fotoDiv1 {
					height: 100%;
					width: 80%;
				}
			}
			
			.mainDiv2 {
			grid-area: video;
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			.video2 {
				height: 90%;
				width: 100%;
			}
	   		}
		}
			
	
	}
	
	.main.Par {
		height: 100px;
		width: 100%;
		

	}
	.parf {
		margin-top: 35px;
		@extend.texto;
	}
	.cuadro {
		height: 90%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.form {
		margin-top: 40px;
		height: 65%;
		width: 60%;
		font-size: 20px;
		text-align: center;
		resize: none;
	}
	.botonForm {
		height: 35px;
		width: 90px;
	}
	footer {
		background-color: black;
		width: 100%;
		height: 150px;
	}
	.grilla {
		display: grid;
		width: 100%;
		height: 70px;
		grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
		grid-template-rows: 100%;
		.imgGrid {
			height: 100%;
			width: 100%;
			background-size: cover;
		}
	}
	
	.tituloRedes {
		color: blanchedalmond;
		font-size: 15px;
		text-align: center;
		margin-top: 25px;
		font-family: Arial, Helvetica, sans-serif;
	}
	.iconos {
		width: 40px;
		height: 40px;
		&:hover {
			width: 40px;
			height: 40px;
		}
	}
	.grillaGaleria {
		width: 100%;
		height: 70%;
		display: flex;
		justify-content: center;
		align-items: center;
		.imgGaleria {
			&:hover {
				height: 80%;
				width: 90%;
			}
			height: 80%;
			width: 90%;
		}
	}
	
	.videoPresentacion {
		height: 150px;
		width: 100%;
		display: flex;
		justify-content: center;
		.clip {
			height: 100%;
			width: 60%;
		}
	}
	
	.grillaClips {
		margin-top: 0px;
		display: grid;
		height: 700px;
		width: 100%;
		grid-template-columns: 47% 47%;
		grid-template-rows: 230px 230px;
		grid-template-areas: "video" "video1" "video2" "video3";
		justify-items: center;
		.clips {
			height: 85%;
			width: 85%;
		}
	}
	
}

   
      
    
    